RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ boot_system/StartApp.php?url=$1 [NC,L,QSA]

Options -Indexes
DirectoryIndex boot_system/startApp.php