RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ Z_Moldes/server/startFramework.php?url=$1 [NC,L,QSA]

Options -Indexes
DirectoryIndex Z_Moldes/server/startFramework.php