main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_regras {
    max-width: 90vw;
    background-color: #eeb60081;
    box-shadow: 2px 2px 30px rgba(251, 142, 0, 0.486);
    border-radius: 15px;
    padding: 2%;
}

.container_regras h1 {
    color: rgb(219, 55, 0);
    font-weight: 600;
    font-family: sans-serif;
    font-size: 1.2rem;
}

.container_regras h2 {
    color: rgb(169, 73, 0);
    font-size: 1.1rem;
    font-family: sans-serif;

}

.container_regras .regras{
    margin-top: 30px;
    list-style-type: square;
    word-break:keep-all;
}
/* Formulário de confirmação para iniciar questionário */
.container_regras .form_iniciar{
    margin-top: 30px;
}
.container_regras .form_iniciar button{ 
    padding: 4px;
    background-color: rgb(249, 153, 0);
    border-radius: 4px;
}

