body {
    background: linear-gradient(rgba(0, 0, 0, 0.588), rgba(0, 0, 0, 0.583)),url("../img/site/login.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}