* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tabela_exemplo {
    width: 40vw;
    text-align: center;
}

.tabela_exemplo,
.tabela_exemplo td {

    border: 2px solid black;
    border-collapse: collapse;
    padding: 4px;
}

.tabela_exemplo tr th {
    background-color: rgb(0, 177, 109);
    border: 2px solid black;
    border-collapse: collapse;
    padding: 4px;

}