main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tabela de projetos */
.container_tabela {
    width: 80vw;
    height: 50vh; 
}

.container_tabela h1 {
    margin-top: 30px;
    background-color: rgba(255, 196, 0, 0.604);
    padding: 2px 10px;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    align-content: center;
    font-size: 1.1rem;
    font-family: sans-serif;
}

.container_tabela .tabela {
    margin: 30px 0 50px 0;
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    text-align: center;
    overflow-y: scroll;
}

.container_tabela .tabela th {
    border-bottom: 2px solid black;
    font-size: 1.1rem;
}

.container_tabela .tabela tr td {
    border: 1px solid black;
    border-bottom: 2px solid black;
    padding: 4px;
    height: 40px;
}

.container_tabela .tabela tr .id {
    width: 90px;
}

.container_tabela .tabela tr .redirecionar_proj {
    text-decoration: none;
    cursor: pointer;
    color: rgb(56, 0, 152);
}

.container_tabela .tabela tr td img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.container_tabela .tabela td .alterar {
    width: 70px;
    height: 30px;
    padding: 4px;
    border-radius: 4px;
    background-color: rgb(27, 86, 236);
    color: rgb(246, 246, 246);
}

.container_tabela .tabela td .deletar {
    width: 70px;
    height: 35px;
    padding: 4px;
    border-radius: 4px;
    background-color: rgb(236, 58, 27);
    color: rgb(246, 246, 246);
    text-decoration: none;
}

.container_tabela .tabela .btns {
    width: 90px;

}