main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status_resultado {
    font-size: 1.8rem;
    font-family: sans-serif;
    font-weight: 600;
    color: #24d900;
    margin-bottom: 30px;

}

.container_pontuacao {
    width: 300px;
    height: 300px;
    background-color: #eeb60081;
    box-shadow: 2px 2px 30px rgba(251, 142, 0, 0.486);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_pontuacao .pontos {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: conic-gradient(rgb(255, 200, 0) 3.6deg, #ff4400 0deg);
    box-shadow: 2px 2px 20px rgb(245, 103, 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_pontuacao .pontos .div_centro_pontos {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: rgb(255, 144, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}